In [10]:
import pandas as pd
from sqlalchemy import create_engine, text

In [12]:
# MySQL connection configuration
username = "mindsdb"                  # Your MySQL username
password = "mindsdb"                  # Your MySQL password
host = "192.168.1.19"                 # Your MySQL host
port = 3306                        # Your MySQL port
database = "loan"                  # Your target database
table_name = "loan_default"     # Your target table

In [13]:
# Load CSV file into a pandas DataFrame
csv_file = "/home/vglug/Desktop/Mindsdb-Using-Predicting-Loan-Default/data load & Crop/Loan_Default.csv"
df = pd.read_csv(csv_file)
df.head()

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,29890,2019,cf,Joint,nopre,type1,p3,l1,nopc,nob/c,...,EXP,784,EXP,45-54,to_inst,56.002825,central,direct,0,29.0
1,29891,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,CIB,604,CIB,45-54,to_inst,60.198135,south,direct,0,32.0
2,29892,2019,cf,Male,nopre,type1,p2,l1,nopc,nob/c,...,CIB,881,EXP,55-64,to_inst,57.275132,south,direct,1,40.0
3,29893,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,EXP,563,CIB,25-34,to_inst,93.639053,south,direct,0,46.0
4,29894,2019,cf,Joint,nopre,type1,p3,l1,nopc,nob/c,...,EXP,510,EXP,35-44,not_inst,70.529197,North,direct,0,26.0

In [14]:
df.shape

(143670, 34)

In [15]:
 # Connect to MySQL server (without specifying a database)
engine = create_engine(f"mysql+mysqlconnector://{username}:{password}@{host}:{port}")

In [11]:
# Create the database
with engine.connect() as connection:
    connection.execute(text(f"CREATE DATABASE {database};"))
    print(f"Database '{database}' created successfully!")

Database 'loan' created successfully!

In [16]:
# Fetch all databases
with engine.connect() as connection:
    result = connection.execute(text("SHOW DATABASES"))
    print("Available Databases:")
    for db in result:
        print(f"- {db[0]}")

Available Databases:
- child_details
- information_schema
- loan
- mysql
- performance_schema
- sys
- vasanth

In [17]:

# Create SQLAlchemy engine
# mysql+mysqlconnector://<username>:<password>@<host>:<port>/<database>
engine = create_engine(f"mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}")

In [18]:
df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)
# if_exists: Behavior if the table already exists (append, replace, or fail).
# index: Whether to include the DataFrame index as a column in the table.

print(f"Data successfully loaded into {table_name}")
# engine.dispose()

Data successfully loaded into loan_default